.item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.btn-pay {
    background-color: #2ab1ff;
    border: 0;
    color: #fff;
    margin-top: 10px;
    padding-bottom: 5px;
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.fa-ticket {
    color: #0e1fa1;
}

#mainItemsContainer {
    float: left;
    overflow: auto;
    border: 0;
}

#shippingAndPayment input {
    margin-bottom: 10px;
}

#mainContainer {
    margin: 0 5%;
    margin-top: 20px;
    border: 0;
}

#credit-cards img,
#debit-cards img {
    width: 55px;
    border-radius: 8px;
    margin-left: 5px;
    border: 0;
}