@media (max-width: 600px) {
    .col-4 {
        -ms-flex: 0 0 33.333333%;
        flex: none;
        max-width: none;
    }
}

.col-4 {
    margin-right: 40px;
}

.avatar {
    max-width: 200px;
    max-height: 200px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}